.flex-grow-1 {
    flex-grow: 1;
}

.font-weight-600 {
    font-weight: 600 !important;
}

.font-size-18-px {
    font-size: 18px;
}

.gap-10-px {
    gap: 10px;
}

.image-thumb-200px {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

table.resource-table {
    max-width: min-content;

    tr {
        background-color: unset !important;

        &:first-child td {
            border-top: none !important;
        }
    }

    td > span {
        white-space: nowrap;
    }
}
