/* General Portal Styles
*
*/
.content {
  font-family: Source Serif Pro;
  color: #333333 !important;
  font-size: 22px;
  font-weight: 400;
  line-height: 36px;
  text-align: left;
}
.preamble p {
  color: #777777;
  font-family: Source Sans Pro;
  font-size: 2em;
  line-height: 1.3em;
  font-weight: $font-weight-light;
}

.human-name {
  font-family: Source Sans Pro;
  font-size: 28px;
  font-weight: 300;
  width: 95%;
  text-align: left;
}

.human-name-small {
  font-size: 24px;
  width: 95%;
}

.nick {
  font-family: $font-family-monospace;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
}

.description {
  font-family: Source Sans Pro;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  width: 95%;
  text-align: left;
}

.description-small, .description-small p {
  font-size: 16px;
  width: 95%;
}

.jobs-ul {
  color: #272755;
  font-family: $font-family-monospace;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  text-align: left;
  list-style: none;
}

.section-nav {
  padding-top: 0 !important;
  border: 0 !important;
}

#sidenav-topics .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #7D4698;
    background-color: #fff;
    font-weight: bold;
}
.toc-entry a:hover {
  color: $purple !important;
}

.sidetopics {
  background: transparent;
  position: sticky;
  top: 114px;
  padding-top: inherit;
}

#topics {
  min-height: 500px;
  margin-bottom: 200px;
}

#topics h5{
  padding-top: 7rem;
}

.question {
  padding: 0.75rem 0;
}

.border-active {
  border-bottom: 3px solid !important;
  border-color: $primary !important;
}

.footer {
  position: relative;
  z-index:99999999999;
}
.footer a.nav-link {
  padding: 0.2rem;
}

.border-bottom {
  box-shadow: 0 1px 0 0 #E5E5E5 !important;
}

footer .border{
  border: 0 !important;
  border-bottom: 1px solid rgba(255,255,255,0.3) !important;
}

 @include media-breakpoint-down(sm) {
   .display-4 {
     font-size: 2rem;
   }
   .toc-entry a {
       display: block;
       padding: 0.4rem 0 !important;
       font-size: 1.3rem;
   }
 }

 @include media-breakpoint-up(md) {
 }

 @include media-breakpoint-up(lg) {

 }
