{% macro render_document(item, alternative) %}
<tr>
  <td>{{ item.title }}</td>
  <td>{{ item.description }}</td>
  <td><a href="{{ item.link }}">{{ _('View PDF') }}</a></td>
</tr>
{% endmacro %}

{% macro render_report(item, alternative) %}
<tr>
  <th scope="row">{{ item.date }}</th>
  <td>
    {% for tag in item.tags %}
      {% set t = bag('tags', tag) %}
      <span class="badge-pill badge-{{ t.color }}">{{ tag }}</span>
    {% endfor %}
  </td>
  <td>{{ item.title }}</td>
  <td><a href="{{ item.link }}">{{ _('View PDF') }}</a></td>
</tr>
{% endmacro %}
