{% if this.slide_layout == "title-slide" %}
  <section class="title" data-background-color="white" {% if this.background_image %} data-background_image="{{ this.background_image|asseturl }}" data-background-position="right bottom" data-background-size="3em" {% endif %} >
    <h3>{{ this.title }}</h3>
    <hr class="dark" />
    {% if this.subtitle %}
      <h4>{{ this.subtitle }}</h4>
    {% endif %}
    {% if this.author %}
      <h5>{{ this.author }}</h5>
    {% endif %}
  </section>
{% else %}
  <section {% if this.background != "white" %} data-background-color="{{ this.background }}" {% else %} data-background-color="white" {% endif %} >
    <h2>{{ this.title }}</h2>
    {{ this.description }}
    {% if this.image %}
        <img data-src="{{ this.image }}">
    {% endif %}
  </section>
{% endif %}
