<div class="row pt-5">
  {% include 'sidenav.html' %}
  <div class="col-sm-12 col-xs-12  ml-sm-auto col-md-9 col-lg-9 {{ bag('alternatives', this.alt, 'order') }}">
    {{ this.body }}
    <div class="row">
      {% for child in this.pagination.items %}
      <div class="col-md-6 col-sm-12 col-xl-3 my-3">
        <div class="card h-100">
          {% if child.cover %}
            <div class="card-header bg-white border-0">
              <picture>
                <a href="{{ child.link }}"><img src="{{ child.cover | url }}" class="img-fluid" alt="{{ child.name }}"></a>
              </picture>
            </div>
          {% endif %}
          <div class="card-body d-flex flex-column">
            <h5 class="card-title human-name">{{ child.name }}</h5>
            <p>By {{ child.author }}</p>
            <p>In {{ child.languages | join(', ') }}</p>
            <p>{{ child.description }}</p>
            <a href="{{ child.link }}" title="{{ child.name }}" class="btn btn-primary mt-auto">Check this resource</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
