<div class="container py-5">
  <div class="row py-5">
    <div class="col-lg-12">
      {{ this.body }}
    </div>
  </div>
  <div class="row">
    {% from "macros/projects.html" import render_active %}
    {% for child in this.children.filter(F.active == True).all() %}
      {{ render_active(child, this.alt) }}
    {% endfor %}
  </div>
  <div class="row">
    <ul>
    {% from "macros/projects.html" import render_active %}
    {% for child in this.children.filter(F.active == False).all() %}
      <li>{{ item.title }}</li>
    {% endfor %}
  </div>
  <div class="row py-5 text-center mx-auto">
    <p class="text-center">{{ _('None of these ideas seem appealing? You may also want to propose your own project idea — which often results in the best projects.') }} <a href="mailto:gso@torproject.org">{{ _('We invite you to contact us to discuss your own project idea.') }}</a></p>
  </div>
</div>
