<div class="row">
  <div class="col-12 content-center pt-5">
    <div class="row">
      <h6 class="mx-auto text-white text-uppercase">{% block section %}{{ this.section }}{% endblock %}</h6>
    </div>
    <div class="row pb-5">
      <h2 class="mx-auto display-4 text-white text-capitalize">{% block title %}{{ this.title }}{% endblock %}</h2>
    </div>
    <div class="row pb-5">
      <h4 class="mx-auto text-white">{% block subtitle %}{{ this.subtitle }}{% endblock %}</h4>
    </div>
  </div>
</div>
