<div class="container pt-5 justify-content-center">
  <section>
    <div class="container py-3 preamble">
      <p>{% block body %}{{ this.body }}{% endblock %}
    </div>
  </section>
  <section>
    <div class="container">
      <div class="row">
        {% for child in site.query('/').filter(F.section_id != 'gsoc')|sort(attribute='key') %}
          <div class="col-lg-4 col-md-6 col-sm-12 py-4">
            <div class="card h-100 p-2">
              <div class="card-body">
                <h2 class="card-title ">{{ _(child.title) }}</h2>
                <p class="card-text">{{ _(child.subtitle) }}</p>
                <div class="illo-container">
                <img src="{{ ('/static/images/home/png/'+ child.section_id + '.png')|url }}" class="img-fluid" alt="{{ _(child.section) }}" />
                </div>
              </div>
              <a href="{{ child.path|url }}" class="btn btn-primary">{{ _(child.cta) }}</a>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
</div>
<!--
	This strings need to be localized, so they get translated on the menu
    because there is no support for databags on the i18n plugin
		{{ _("About") }}
		{{ _("Documentation") }}
		{{ _("Support") }}
		{{ _("Jobs") }}
		{{ _("Blog") }}
		{{ _("Contact") }}
		{{ _("Press") }}
-->
