<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="{{ _('Defend yourself against tracking and surveillance. Circumvent censorship.') }} | {{ this.title }}">
<link rel="stylesheet" href="{{ '/static/css/bootstrap.css'|asseturl }}">
<link rel="stylesheet" href="{{ '/static/fonts/fontawesome/css/all.min.css'|asseturl }}" >
<!-- Standard favicon -->
<link rel="icon" type="image/x-icon" href="{{ '/static/images/favicon.ico'|asseturl }}">
<!-- Recommended favicon format -->
<link rel="icon" type="image/png" href="{{ '/static/images/favicon.png'|asseturl }}">
<title>{{ _("Tor Project") }} | {% block title %}{{ this.title }}{% endblock %}</title>
