{% include 'breadcrumb.html' %}
<div class="row">
  <div class="container py-3 preamble text-center">
    {{ this.body }}
  </div>
</div>
<div class="row">
  <div class="container text-center">
    <h2 class="text-primary text-center mx-auto my-3">Consumer privacy</h2>
    <p>These real people using Tor to improve their privacy and protect themselves from companies and governments snooping on their data and learning about their behavior.</p>
  </div>
</div>
<div class="container py-5">
  <div class="row py-5">
    <div class="col-lg-7">
{% for child in this.children.filter(F.category == "consumer-privacy").all() %}
      <div class="col-sm-6 col-md-6 col-sm-12 col-xl-6 py-3">
        <div class="card h-100">
          <div class="card-body">
              <a href="{{ child.path|url(alt=this.alt) }}">
                <img src="{{ child.attachments.images.get('portrait.png')|url }}" class="card-img-top" />
                <h4 class="card-title text-center">{{ child.title }}</h4>
              </a>
              <p class="card-text">{{ child.body }}</p>
            </div>
        </div>
      </div>
{% endfor %}
    </div>
  </div>
</div>
