{% include 'breadcrumb.html' %}
<div class="container">
  <div class="row py-5">
    <div class="col-lg-3 px-3">
      <img class="mb-4" src="{{ this.attachments.images.get('portrait.png')|url }}" />
      <p class="font-italic">{{ _("{} is a pseudonym. This is an anonymous story submitted by a Tor user.").format(this.title) }}</p>
    </div>
    <div class="col-lg-9" id="story-full">
      {{ this.body }}
      <a class="btn btn-outline-primary mt-3" href="{{ this.parent|url(alt=this.alt) }}">{{ _('Read more stories') }}</a>
    </div>
  </div>
  <div class="row p-4 bg-primary">
    <div class="col">
      <p class="text-white font-bold">{{ _("Share this story on social media") }}</p>
      <p>(... share links ...)</p>
      <p class="text-white small">{{ _("These links are not an endorsement of social media. They are provided for your convenience.") }}</p>
    </div>
  </div>
</div>
