<div class="row pt-5">
  {% include 'sidenav.html' %}
  <div class="col-sm-12 col-xs-12  ml-sm-auto col-md-9 col-lg-9 {{ bag('alternatives', this.alt, 'order') }}">
    {{ this.body }}
    <div class="container py-3">
      <div class="row">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Title</th>
              <th scope="col">Type</th>
              <th scope="col">Links</th>
            </tr>
          </thead>
          <tbody>
          {% for id, item in bag('outreach-materials').items() %}
            <tr>
              <td>{{ item.label }}</td>
              <td>{{ item.type }}</td>
              <td>
                {% if item.type=='handout' %}
                  <a href="{{item.location}}{{item.filename_front}}">Front</a> / <a href="{{item.location}}{{item.filename_back}}">Back</a>
                {% else %}
                  <a href="{{item.location}}{{item.filename}}">File</a>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>