<div class="container-fluid border-bottom border-light bg-white sticky">
  <div class="row flex-xl-nowrap {{ bag('alternatives', this.alt, 'order') }}">
    <div class="row col-12 justify-content-center">
      <ul class="nav">
        {% set menubag = 'pagenav' + '+' + this.alt %}
        {% for id, item in bag(menubag).items() %}
        <li{% if this.path == '/' + item.path %} class="nav-item active border-active" {% else %} class="nav-item" {% endif %}>
          {% set elm = site.get(item.path) %}
          {% if elm %}
            <a class="nav-link" href="{{ elm.path|url }}">{{ item.label }}
          {% elif this.path == '/' + item.path %}
            <span class="sr-only">(current)</span>
          {% endif %}
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
