<div class="container-fluid border-bottom border-light bg-white sticky-top">
  <div class="row flex-xl-nowrap {{ bag('alternatives', this.alt, 'order') }}">
    <div class="row col-12 justify-content-center">
      <ul class="nav">
        {% set menubag = 'pagenav' %}
        {% for id, item in bag(menubag).items() %}
        {% set abs_path = item.path %}
        <li{% if this.is_child_of(abs_path) %} class="nav-item active border-active" {% else %} class="nav-item" {% endif %}>
          {% set elm = site.get(item.path) %}
          {% if elm %}
            <a class="nav-link" href="{{ elm.path|url }}">{{ _(item.label) }}
          {% endif %}
          {% if this.is_child_of(abs_path) %}
            <span class="sr-only">(current)</span>
          {% endif %}
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
