<div class="row pt-5">
  {% include 'sidenav.html' %}
  <div class="col-sm-12 col-xs-12  ml-sm-auto col-md-9 col-lg-9 {{ bag('alternatives', this.alt, 'order') }}">
    {{ this.body }}
    <div class="container py-3">
      <div class="row">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Organization Name</th>
              <th scope="col">Country</th>
              <th scope="col">Status</th>
              <th scope="col">Donate</th>
            </tr>
          </thead>
          <tbody>
          {% for id, item in bag('relay-associations').items() %}
                <tr>
                    <td>
                        {% if item.link|length %}
                            <a href="{{ item.link }}">{{ item.label }}</a>
                        {% else %}
                            {{ item.label }}
                        {% endif %}
                    </td>

                    <td>{{ item.country }}</td>
                  
                        {% if item.active=='True' %}
                           <td>Active</td>
                        {% else %}
                           <td>Inactive</td>
                       {% endif %}
                       <td>
                         {% if item.donate|length %}
                             <a href="{{ item.donate }}">Donate now!</a>
                         {% else %}
                             {{ item.donate }}
                         {% endif %}
                       </td>
                </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
