<div class="row pt-5">
  {% include 'sidenav.html' %}
  <div class="col-sm-12 col-xs-12  ml-sm-auto col-md-9 col-lg-9 {{ bag('alternatives', this.alt, 'order') }}">
    {{ this.body }}
    <div class="container py-3">
      <div class="row">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Title</th>
              <th scope="col">Description</th>
              <th scope="col">Formats</th>
              <th scope="col">Last Updated</th>
            </tr>
          </thead>
          <tbody>
          {% for id, item in bag('training-resources').items() %}
            <tr>
              <td>{{ item.label}}</td>
              <td>{{ item.description }}</td>
              <td>
                {% for format in item.formats %}
                <a href="https://gitweb.torproject.org/community/training.git/plain/{{ item.date }}/{{ item.name }}/{{ item.filename }}.{{format}}">{{ format }}</a>
                {% endfor %}
              </td>
              <td>{{ item.date }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>