<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>{{ _("Tor Project") }} | {% block title %}{{ this.title }}{% endblock %}</title>

		<meta name="description" content="{{ _(\"Tor Project\") }} | {% block title %}{{ this.title }}{% endblock %}">
		<meta name="author" content="{{ this.author }}">

		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link rel="stylesheet" href="{{ '/static/revealjs/dist/reset.css'|asseturl }}">
		<link rel="stylesheet" href="{{ '/static/revealjs/dist/reveal.css'|asseturl }}">
		<link rel="stylesheet" href="{{ '/static/revealjs/dist/theme/black.css'|asseturl }}" id="theme">

		<!-- Theme used for syntax highlighting of code -->
		<link rel="stylesheet" href="{{ '/static/revealjs/plugin/highlight/monokai.css|asseturl }}" id="highlight-theme">
	</head>

	<body>

		<div class="reveal">

			<!-- Any section element inside of this container is displayed as a slide -->
      
			<div class="slides">

      </div>

		</div>

		<script src="{{ '/static/revealjs/dist/reveal.js'|asseturl }}"></script>
		<script src="{{ '/static/revealjs/plugin/zoom/zoom.js'|asseturl }}"></script>
		<script src="{{ '/static/revealjs/plugin/notes/notes.js'|asseturl }}"></script>
		<script src="{{ '/static/revealjs/plugin/search/search.js'|asseturl }}"></script>
		<script src="{{ '/static/revealjs/plugin/markdown/markdown.js'|asseturl }}"></script>
		<script src="{{ '/static/revealjs/plugin/highlight/highlight.js'|asseturl }}"></script>
		<script>

			// Also available as an ES module, see:
			// https://revealjs.com/initialization/
			Reveal.initialize({
				controls: true,
				progress: true,
				center: true,
				hash: true,

				// Learn about plugins: https://revealjs.com/plugins/
				plugins: [ RevealZoom, RevealNotes, RevealSearch, RevealMarkdown, RevealHighlight ]
			});

		</script>

	</body>
</html>
