{% set sidenav_items = this.parent.parent.children %}
{% set resource_name = this.resource_name or this._path.split('/')[-1][:-('-guide'|length)] %}
{% set resource = bag('community-training-materials', resource_name[:-1]) %}{# TODO: remove the `[:-1]` bit after fixing grid #}
<style>
 #sample-slides td:not(:first-child) {
   padding-right: 0;
 }
</style>
<div class="row pt-5">
  {% include 'sidenav.html' %}
  <div class="col-sm-12 col-xs-12  ml-sm-auto col-md-9 col-lg-9 {{ bag('alternatives', this.alt, 'order') }}">
    <div class="row">
      <img src="{{ resource['cover'] | url }}" class="image-thumb-200px col col-lg-3" alt="{{ this.title }}">
    </div>
    <div class="row col">
      <h1>{{ resource['name'] }}</h1>
    </div>
    <div class="row col resource-table">
      <span class="text-muted h5 font-weight-600 col-6 col-lg-2">{{ _('Maintained by') }}</span>
      <span class="h5 font-weight-600 col-6 col-lg-2">{{ resource['author'] }}</span>
      <div class="w-100"></div>
      <span class="text-muted h5 font-weight-600 col-6 col-lg-2">{{ _('Last updated') }}</span>
      <span class="h5 font-weight-600 col-6 col-lg-2">{{ resource['date'] }}</span>
      <div class="w-100"></div>
      <span class="text-muted h5 font-weight-600 col-6 col-lg-2">{{ _('Estimated time') }}</span>
      <span class="h5 font-weight-600 col-6 col-lg-2">{{ this.estimated_time or 'FIXME: NO TIME ESTIMATE' }}</span>
    </div>
  </div>
  <div class="d-flex my-4">
  </div>
</div>
