<div class="container py-5">
  <div class="row py-5">
    <div class="col-lg-7">
      {{ this.body }}
    </div>
    <div class="col-lg-5">
      <img src="/static/images/home/png/{{ this.section_id }}.png" class="img-fluid" alt="{{ _(this.section) }}" />
    </div>
  </div>
  <div class="row py-5">
    {% for child in this.children|sort(attribute='key') %}
      {% if child.key != '0' %}
      <div class="col-sm-6 col-md-6 col-sm-12 col-xl-6 py-4">
        <div class="card h-100 border-0">
          <div class="card-body">
            <h2 class="text-primary display-2"><i class="fas fa-{{ child.image }}"></i></h2>
            <h4 class="card-title text-primary">{{ child.title }}</h4>
            <p class="card-text">{{ child.subtitle }}</p>
            <a href="{{ child.path|url }}">{{ child.cta }} <i class="fas fa-arrow-right"></i></a>
          </div>
        </div>
      </div>
      {% endif %}
    {% endfor %}
  </div>
  <div class="row py-5 text-center mx-auto">
    <h2 class="display-4 text-primary text-center mx-auto">{{ _('Join the Community') }}</h2>
    <p class="text-center">
      {{ _('Are you interested in inviting someone from Tor to train your group? While we receive a high volume of training requests and may not be able to offer an in-person training, we may still be able to help. Contact the community team and let\'s talk.')}}
    </p>
    <a class="btn btn-lg btn-outline-primary mx-auto my-3" href="https://lists.torproject.org/cgi-bin/mailman/listinfo/tor-community-team">
          {{ _('Community mailing list') }}<i class="ml-3 pt-2 fas fa-arrow-right"></i>
    </a>
  </div>
</div>
