<div class="container py-5">
  <h2 class="text-primary">{{ _('We want to teach the world about Tor. Will you help?') }}</h2>
  <div class="row py-5">
    <div class="col-8">
      {{ this.body }}
    </div>
    <div class="col-4 bg-light">
      <p>Illustration area</p>
    </div>
  </div>

  <div class="row py-5">
    <h2 class="text-primary text-center mx-auto"><u>{{ _('Resources') }}</u>
    </h2>
  </div>
  <div class="row py-5 text-center mx-auto">
    <h2 class="display-4 text-primary text-center mx-auto">{{ _('Join the Community') }}</h2>
    <p class="text-center">
      {{ _('Are you interested in inviting someone from Tor to train your group? While we receive a high volume of training requests and may not be able to offer an in-person training, we may still be able to help. Contact the community team and let\'s talk [link to contact].')}}
    </p>
    <h3 class="text-primary text-center mx-auto"><u>{{ _('Call to action') }}
      <i class="fas fa-arrow-right"></i></u>
    </h3>
  </div>
</div>
