<div class="row pt-5">
  {% include 'sidenav.html' %}
  <div class="col-sm-12 col-xs-12 col-md-8 col-lg-8 mr-auto {{ bag('alternatives', this.alt, 'order') }}">
    {{ this.body }}
    <div class="row">
    {% for child in this.children|sort(attribute='key') %}
        <div class="col-sm-6 col-md-6 col-sm-12 col-xl-6 py-3">
            <div class="card h-100">
                <div class="card-body">
                    <h4 class="card-title text-primary"><a href="{{ child.path|url }}">{{ child.title }}</a></h4>
                    <p class="card-text">{{ child.subtitle }}</p>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
    <div class="card mt-5">
      <ul class="list-group list-group-flush">
        <!--li class="list-group-item"><a><span class="card-text text-muted">{{ _("Contributors to this page:") }} <a href="#" title="#">cypherpunk</a></span></li-->
        <li class="list-group-item">
                <a href="{{ this.parent|url }}">{{ _("Back to previous page: ") }}{{ this.parent.title }}</a> - <a href="https://github.com/torproject/community/edit/master/content{{ this.path }}/contents.lr">{{ _("Edit this page") }}</a>
        </li>
      </ul>
    </div>
  </div>
</div>